@import url(http://fonts.googleapis.com/css?family=Average+Sans);

h1,h2,h3,h4,h5,h6 {
font-family:'Average Sans', sans-serif;
}

.error {
color:#900;
}

#contentRight {
background-color:#360;
color:#FFF;
padding:10px;
}

.delete_front_image {
float:right;
padding-right:10px;
padding-top:5px;
}

.image_description {
display:inline-block;
margin:4px;
padding-left:20px;
position:absolute;
top:10px;
}

#sortable div span a {
text-decoration:underline;
}

#sortable div span a:hover {
text-decoration:none;
}

#contentPages div div,#contentPageCat div div,#contentFront div div {
-moz-border-radius:5px;
-moz-box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
-moz-transition:background-color .15s ease-in-out;
-o-transition:background-color .15s ease-in-out;
-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
-webkit-transition:background-color .15s ease-in-out;
background:#2ba6cb;
background-color:#2284a1;
border:1px solid #1e728c;
border-radius:5px;
box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
color:#fff;
cursor:crosshair;
font-family:inherit;
font-size:14px;
font-weight:700;
line-height:1;
margin:0 0 6px;
padding:5px 20px;
position:relative;
text-decoration:none;
transition:background-color .15s ease-in-out;
width:auto;
}

#contentPages div div:hover,#contentPageCat div:hover div:hover,#contentFront div div:hover {
background-color:#9CC;
}

#contentPages div div {
height:30px;
list-style-type:none;
}

#contentPageCat div div {
background-color:#69F;
height:30px;
list-style-type:none;
}

#contentFront div div {
background-color:#999;
height:50px;
list-style-type:none;
}

.frntcourse {
background-color:#F60;
}

.frntpage {
background-color:#99F;
}

.frntfront {
background-color:#093;
}

tr:hover,th:hover {
background-color:#E6E6E6!important;
}

.new_img {
float:right;
}

.new_add {
background-image:url(../images/article_add_small.png);
background-position:40px center;
background-repeat:no-repeat;
}

.list {
background-image:url(../images/list_small.png);
background-position:40px center;
background-repeat:no-repeat;
}