/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

.columns ul li , .row  ul li {
	
margin-left: 40px;	
	
}

.button {
	background: #f26722;
	border: 1px solid #C30;
}

.button:hover {
	border: 1px solid #C00;
	background-color: #C00;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


.background {
	background-image: url(../images/page-background.jpg);
	background-repeat: no-repeat;
	background-position: left toppx;
}

h1 {font-size: 24px;}

h3, h1 {
	padding-bottom: 20px;
	font-size: 18px;
	color: #333;
}

#courses_table table {
	width: 100%;
	border-spacing: 0px;
	border:1px solid #CCC;
	
	
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
box-shadow: 0 1px 4px rgba(0,0,0,.3);
}
#courses_table table th{

background-color: #3C9;
	
	
}





#courses_table  table tbody tr td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	background-image: url(../images/coure-arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #fff;	
	
}


#courses_table  table tbody tr td a{
	font-size: 12px;
	display: block;
	color:#333
}


#courses_table  table tbody tr td:hover{
	
	
}

.panel {

background-color:rgba(255,255,255,0.50);



border:none
	
	
}

.front_images {
	
	 padding-bottom: 20px;	
}


.frntcourse  {
	background-color: #F60;
	
}

.frntpage  {
	background-color: #99F;
	
}

.frntfront  {
	background-color: #093;	
}